@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #121213;

  color: #ffffff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #121213;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 407px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: #121213;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Changa One;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.navigation__link:hover,
.navigation__link:focus {
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 130px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    color: #ffffff;

    font-family: Changa One;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 664px;

  padding: 76px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Home.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Changa One;
  font-size: 64px;
  font-style: italic;
  font-weight: 400;
  line-height: 51.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-transform: uppercase;
}

.home-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.56px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 32px 0;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 852px;
    padding: 153px 0px 0px;
    background-image: url("/image/home/Home\ \(1\).png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-title {
    font-family: Changa One;
    font-size: 88px;
    font-style: italic;
    font-weight: 400;
    line-height: 79.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 890px;
  }

  .home-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.56px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 490px;
    padding: 42px 0;
  }
}
.why {
  width: 375px;
  height: 503px;

  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/CTA.png");
}
.why-title {
  font-family: Changa One;
  font-size: 64px;
  font-style: italic;
  font-weight: 400;
  line-height: 51.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}
.why-text {
  color: #95999d;
  padding: 24px 0 32px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.56px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.why-image {
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    height: 597px;

    margin: auto;
    padding: 80px 303px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/CTA.png");
  }
  .why-title {
    font-family: Changa One;
    font-size: 88px;
    font-style: italic;
    font-weight: 400;
    line-height: 79.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .why-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.56px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 24px 0 70px;
  }
  .why-image {
    margin: auto;
  }
}

.about {
  padding: 40px 16px 0px;
  margin: auto;
  width: 375px;
  height: 664px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/about/About.png");
}

.about-title {
  font-family: Changa One;
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.about-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.56px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 32px 0px 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 80px 306px 0;
    margin: auto;
    width: 1440px;
    height: 525px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .about-title {
    font-family: Changa One;
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    line-height: 51.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .about-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.56px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 60px 0 0;
  }
}
.how {
  width: 375px;

  margin: auto;
  padding: 40px 16px;
}

.how-list {
  padding-top: 32px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.how-item {
  width: 343px;
  height: 318px;
  padding: 32px 24px 32px 24px;
  border-radius: 10px;
  background: radial-gradient(
    160.53% 160.53% at 49.87% 160.53%,
    #5471b3 1.19%,
    #121213 60.65%
  );
  border: 1px solid #58595d;
}
.how-item-two {
  background: radial-gradient(
    160.53% 160.53% at 49.87% 160.53%,
    #e74b04 1.19%,
    #121213 60.65%
  );
}
.how-item-three {
  background: radial-gradient(
    160.53% 160.53% at 49.87% 160.53%,
    #5e2b80 1.19%,
    #121213 60.65%
  );
}
.how-item-four {
  background: radial-gradient(
    160.53% 160.53% at 49.87% 160.53%,
    #4ac0d8 1.19%,
    #121213 60.65%
  );
}
.how-item-five {
  background: radial-gradient(
    160.53% 160.53% at 49.87% 160.53%,
    #fa2e06 1.19%,
    #121213 60.65%
  );
}
.how-text-bold {
  font-family: Changa One;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}
.how-text {
  height: 130px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.56px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #95999d;
  margin: 16px 0 60px;
}
.how-number {
  color: #95999d;
  font-family: Changa One;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;

    margin: auto;
    padding: 80px 100px;
  }

  .how-list {
    padding-top: 60px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    width: auto;
    justify-content: center;
  }
  .how-item {
    width: 397px;
    height: 318px;
    padding: 32px 24px 32px 24px;
    border-radius: 10px;
    background: radial-gradient(
      160.53% 160.53% at 49.87% 160.53%,
      #5471b3 1.19%,
      #121213 60.65%
    );
    border: 1px solid #58595d;
  }
  .how-item-two {
    background: radial-gradient(
      160.53% 160.53% at 49.87% 160.53%,
      #e74b04 1.19%,
      #121213 60.65%
    );
  }
  .how-item-three {
    background: radial-gradient(
      160.53% 160.53% at 49.87% 160.53%,
      #5e2b80 1.19%,
      #121213 60.65%
    );
  }
  .how-item-four {
    background: radial-gradient(
      160.53% 160.53% at 49.87% 160.53%,
      #4ac0d8 1.19%,
      #121213 60.65%
    );
  }
  .how-item-five {
    background: radial-gradient(
      160.53% 160.53% at 49.87% 160.53%,
      #fa2e06 1.19%,
      #121213 60.65%
    );
  }
  .how-text-bold {
    font-family: Changa One;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
  }
  .how-text {
    height: 130px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.56px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #95999d;
    margin: 16px 0 60px;
  }
  .how-number {
    color: #95999d;
    font-family: Changa One;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.advantages {
  width: 375px;

  margin: auto;
  padding: 40px 0 40px 0;
}

.advantages-list {
  width: 375px;
  padding-top: 32px;

  margin: auto;
}
.advantages-item {
  margin: 0 4px;
}
.advantages-img {
  width: 318px;
}
.advantages-item-buttom {
  width: 318px;
  height: 210px;
  padding: 32px 24px 32px 24px;
  border-radius: 10px;
  background: #1e1f21;
}
.advantages-text-bold {
  text-transform: uppercase;
  font-family: Changa One;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.advantages-text {
  color: #95999d;
  padding-top: 16px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.56px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .advantages {
    width: 1440px;

    margin: auto;
    padding: 80px 100px;
  }

  .advantages-list {
    width: 1240px;
    padding-top: 60px;
    margin: auto;
  }
  .advantages-item {
    margin: 0 12px;
  }
  .advantages-img {
    width: 358px;
    height: 364px;
  }
  .advantages-item-buttom {
    width: 358px;
    height: 210px;
    padding: 32px 24px 32px 24px;
    border-radius: 10px;
    background: #1e1f21;
  }
  .advantages-text-bold {
    text-transform: uppercase;
    font-family: Changa One;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .advantages-text {
    color: #95999d;
    padding-top: 16px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.56px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
}

.faq-item {
  background: #1e1f21;

  border: 1px solid #58595d;
  padding: 32px 16px;
  border-radius: 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: start;

  font-family: Changa One;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 16px;

  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.56px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 80px 100px;
    margin: auto;
    width: 1440px;
  }
  .faq-container {
    width: 1240px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: auto;
  }
  .faq-item {
    background: #1e1f21;

    border: 1px solid #58595d;
    padding: 32px 40px;
    border-radius: 10px;
  }
  .faq-question {
    font-family: Changa One;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .toggle-button {
    background: none;
    border: none;

    cursor: pointer;
  }

  .faq-answer {
    display: none;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.56px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.gallery {
  width: 375px;

  margin: auto;
  padding: 40px 16px;
}

.gallery__list {
  width: auto;
  padding-top: 32px;

  margin: auto;
}
.gallery__item {
  width: 318px;
  height: 167px;
  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;

    margin: auto;
    padding: 80px 100px;
  }

  .gallery__item {
    width: 966px;
    height: 507px;
    margin: 0 12px;
    overflow: hidden;
    position: relative;
  }

  .gallery__list {
    width: auto;
    padding: 60px 0 0px;
  }
}

.footer {
  background: #121213;

  color: #ffffff;
  padding: 40px 16px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 38px;
  background: radial-gradient(
    160.53% 160.53% at 49.87% 160.53%,
    #5e2b80 1.19%,
    #121213 60.65%
  );
  border: 1px solid #58595d;

  padding: 32px 24px 32px 24px;

  border-radius: 10px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 32px;
}
.footer-text {
  font-family: Changa One;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 51px 100px 32px;
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;

    align-items: center;

    gap: 140px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
  }
  .footer-text {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #95999d;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 108px 16px 116px;
}
.policy-terms-title {
  font-family: Changa One;
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-transform: uppercase;
}

.policy-terms-text {
  font-family: Changa One;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.56px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.56px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;

  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.56px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 20px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.56px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 126px 80px 116px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Changa One;
    font-size: 88px;
    font-style: italic;
    font-weight: 400;
    line-height: 79.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-family: Changa One;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.56px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.56px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.56px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.56px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
